@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.wrapperCard {
  box-sizing: border-box;

  height: 175px;
  width: 575px;

  padding-top: 20px;
  padding-left: 30px;

  display: grid;
  grid-template-columns: repeat(4, 180px);
  grid-auto-rows: 40px;

  border-radius: 20px;

  background-color: azure;
}



p {
  font-family: 'Ubuntu', sans-serif;
}

.title__card {

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;

  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

.description__card {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;

}

.tag__card {
  grid-column-start: 1;
  grid-row-start: 3;

  margin-top: 25px;

  height: 25px;
  width: 85px;
  padding-top: 4px;

  color: azure;
  background-color: rgb(97, 146, 188);

  border-radius: 10px;

  padding-left: 15px;

  font-family: 'Ubuntu', sans-serif;
}

.button__card {
  padding-top: 5px;
  padding-left: 40px;

  grid-column-start: 3;

  grid-row-start: 3;

  margin-top: 20px;

  height: 30px;

  border-radius: 5px;
  border: 3px solid #0b042f;

  background-color: transparent;

  color: #0b042f;

  text-decoration: none;

  font-weight: bold;

  font-family: 'Ubuntu', sans-serif;

  transition: 0.2s;
  margin-right: 30px;
}

.button__card:hover {
  background-color: #0b042f;
  color: aliceblue;

  transition: 0.2s;
}